.bgColor-blue {
  color: #000;
  background-color: var(--salt-color-blue-10);
}

.bgColor-white {
  color: #000;
  background-color: var(--salt-color-gray-10);
}

.bgColor-green {
  color: #000;
  background-color: var(--salt-color-green-10);
}

.bgColor-transparent {
  background-color: transparent;
}
